@charset "UTF-8";

body{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.61), rgb(63, 63, 63));
}

h1{
    text-align: center;
    color: white;
    font-size: 100px;
}

header > p{
    text-align: right;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 8px;
}

a{
    text-decoration: none;
    color: white;
}

.barra-pesquisa{
    padding: 0px 51px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
    height: 40px;
    transition: 0.3s;
    background-color: silver;
    align-items: center;
    display: flex;
    justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;     
}